{% load static %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}AWS-VPS Tani VPS{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'shop/css/base.css' %}"/>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <img src="{% static 'shop/vps.jpg' %}" alt="VPS picture">
                <img src="{% static 'png.png' %}">
            </header>
            <nav>

            </nav>
            <section>
                {% block content %}{% endblock content %}
            </section>
            <footer>

            </footer>
        </div>
    </body>
</html>