{% load bootstrap4 %}
{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scal=1, shrink-to-fit=no">
        <title>AWS-VPS tani VPS</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">
                <a class="navbar-brand" href="{% url 'shop:index'%}">AWS-VPS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle-navigation">
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:about'%}">O nas</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:docs'%}">Dokumentacja</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:userpanel'%}">Panel użyszkodnika</a></li>
                    </ul>
                </div>
            </nav>
            <main role="main" >
                <div class="pb-2 mb-2 border-bottom">
                    {% block page_header %}{% endblock page_header %}
                </div>
                <div>
                    {% block content %}{% endblock content %}
                </div>
            </main>
        </div>
    </body>
</html>